<div class="navbar">
  <img class="navbar-brand" src="/assets/Logo.png" width="192" height="53" style="margin-left: 18px" />
  <div class="navbar-text" style="margin-right: 20px">
    1234567890 &nbsp;&nbsp;&nbsp; Michelle.willams@gmail.com
  </div>
</div>

<nav class="navbar navbar-expand-lg" style="background-color: #af1f24">
  <a class="navbar-brand" href="#" style="color: white; margin-left: 20px">Find a Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" style="color: white; margin-left: 30px">Saved</a>
      <a class="nav-item nav-link active" style="color: white; margin-left: 30px">Find Home</a>
      <a class="nav-item nav-link active" style="color: white; margin-left: 30px">Near me</a>
    </div>
  </div>
</nav>

<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <img src="/assets/House1.png" style="width: 100%; height: 450px" onclick="myFunction(this);" />
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <img src="/assets/House2.png" style="height: 450px; width: 100%;" />
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img src="/assets/House3.png" style="height: 226px; width: 100%;" />
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img src="/assets/House4.png" style="height: 221px; width:100%" />
  </mat-grid-tile>
</mat-grid-list>

<div style="margin-left: 40px; margin-top: 30px">
  <h1><b>$345899</b></h1>
  <a href="#" style="color: #af1f24">Check Payments & Details</a>
</div>
<hr style="margin: 10px 30px 10px 30px" />

<div class="row" style="margin: 0px 30px 0px 30px">
  <br />
  <div class="col-8">
    <div class="row">
      <div class="col-7">
        <h2><b>Stanley Homes, Chicago</b></h2>
        <p>
          A house is a single-unit residential building. It may range in
          complexity from a rudimentary hut to a complex structure of wood,
          masonry, concrete or other material, outfitted with plumbing,
          electrical, and heating, ventilation, and air conditioning systems.<br />
          [1][2] Houses use a range of different roofing systems to keep
          precipitation such as rain from getting into the dwelling space.
          Houses may have doors or locks to secure the dwelling space and
          protect its inhabitants and contents from burglars or other
          trespassers.
        </p>
      </div>
      <div class="col-5">
        <h2>Ratings</h2>
        <div class="flex-container">
          <div>
            <span style="font-size: 20px; font-weight: 500">4.2</span>&nbsp;
            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div style="padding-top: 10px">
          <h3 style="font-weight: 550">Location</h3>
          <p>
            It may range in complexity from a rudimentary hut to a complex
            structure of wood, masonry, concrete or other material, outfitted
            with plumbing,
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <ul class="list-group list-group-flush" id="list">
          <li class="list-group-item">Basic Amenities</li>
          <li class="list-group-item">Nearby Locations</li>
          <li class="list-group-item">Year Forecast</li>
          <li class="list-group-item">Walk Score</li>
        </ul>
      </div>
      <div class="col-8" style="box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3); padding: 10px">
        <div class="row">
          <div class="col">
            <table class="table">
              <tbody>
                <tr>
                  <td>Living Area</td>
                  <td>320 sq.ft</td>
                </tr>
                <tr>
                  <td>Year Built</td>
                  <td>2012</td>
                </tr>
                <tr>
                  <td>Totals Rooms</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Bedrooms</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Also Includes</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <table class="table">
              <tbody>
                <tr>
                  <td>Tax Year</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Flood Zone</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>Property type</td>
                  <td>Condo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);padding: 30px; margin-top: 15px; margin-right: -13px;">
      <div>
        <h4>Purchase History</h4>
        <p>complexity from a rudimentary hut to a complex structure of wood,</p>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Market Value</th>
                <th scope="col">Price Sold</th>
                <th scope="col">Change</th>
                <th scope="col">Source</th>
                <th scope="col">More</th>
              </tr>
            </thead>
            <tbody *ngIf="showmore">
              <tr *ngFor="let data of ELEMENT_DATA">
                <td>{{data.Date}}</td>
                <td>{{data.marketvalue}}</td>
                <td>{{data.pricesold}}</td>
                <td>{{data.change}}</td>
                <td>{{data.source}}</td>
                <td>{{data.More}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="!showmore">
              <tr *ngFor="let data of slicedData; let i=index">
                <td>{{data.Date}}</td>
                <td>{{data.marketvalue}}</td>
                <td>{{data.pricesold}}</td>
                <td>{{data.change}}</td>
                <td>{{data.source}}</td>
                <td>{{data.More}}</td>
              </tr>
            </tbody>
          </table>
          <section>
            <div class="example-button-row" style="text-align: center;">
              <button mat-button color="primary" (click)="showmore = !showmore">
                <mat-icon *ngIf="!showmore">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="showmore">keyboard_arrow_up</mat-icon>
                {{ showmore ? 'Show less': 'Show More' }}</button>
            </div>
          </section>
        </div>
      </div>
    </div>
    <hr />

  </div>

  <div class="col-4" id="sticky">
    <div style="padding-left: 30px" id="sticky">
      <h2>Interested in Buying?</h2>
      <div>
        <form [formGroup]="scheduleVisitForm" (ngSubmit)="onSubmit()" style="padding: 0px 0px 15px 10px" #form="ngForm">
          <div class="form-field" id="inputfield">
            <mat-form-field id="inputfield" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" placeholder="First Name" formControlName="firstname">

            </mat-form-field>
            <!-- <div *ngIf="getFirstName && getFirstName.invalid">Accept Ts & Cs is required</div> -->
          </div>
          <div class="form-field" id="inputfield">
            <mat-form-field id="inputfield" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" placeholder="Last Name" formControlName="lastname">
            </mat-form-field>
          </div>
          <div class="form-field" id="inputfield">
            <mat-form-field id="inputfield" appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput type="number" placeholder="Mobile Number" formControlName="mobile" maxlength="10">
            </mat-form-field>
          </div>
          <div class="form-field" id="inputfield">
            <mat-form-field id="inputfield" appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput type="text" placeholder="Email Id" formControlName="email">
            </mat-form-field>
          </div>


          <div class="form-group form-check">
            <mat-checkbox color=primary class="example-margin" formControlName="acceptTerms"
              [ngClass]="{ 'is-invalid': (getAcceptTerms && getAcceptTerms.errors) && form.submitted }">Agree to terms
              and Conditions</mat-checkbox>
            <div style="padding-left: 45px; color: red; font-size: 12px;"
              *ngIf="(getAcceptTerms && getAcceptTerms.errors) && form.submitted">Accept Ts & Cs is required</div>
          </div>
          <!-- <section class="example-list-section">
            <mat-checkbox color=primary class="example-margin" >Agree to terms and Conditions</mat-checkbox>
          </section> -->

          <div class="example-button-row" id="schedule-btn">
            <button mat-raised-button id="schedule-btn" style="background-color: #af1f24; color: white"
              type="submit">Schedule a Visit</button>
          </div>
        </form>

      </div>
      <div class="container">
        <h5>Know how much you can afford based on budget?</h5>
        <p>
          Complexity from a rudimentary hut to a complex structure of wood,
          masonry, concrete or other material, outfitted with plumbing
        </p>
        <a href="#" style="color: #af1f24">Loan Calculator</a>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>